
p{
font-family: 'Playfair Display', serif;
size: 1em;
}

#headline{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.hero-text{

  text-align: center;
  text-transform: uppercase;

}

.sub-head{
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  display: inline;
}

/* videos */
.gallery img{
  transition: 1s;
  width: 231px;
  display: inline-block;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

h1{
  font-size: 1vw;
}
