
p{
font-family: 'Playfair Display', serif;
size: 1em;
}
#headline{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.hero-text{
  color: white;
  padding: 3em;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;

}

.sub-head{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  display: inline;
}

/* videos */
.gallery img{
  transition: 1s;
  width: 232px;
  display: inline-block;
}
/*
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}
*/
h1{
  font-size: 4vw;
}
