
p{
font-family: 'Playfair Display', serif;
size: 1em;
}


#headline{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.hero-text{

  text-align: center;
  text-transform: uppercase;

}

.sub-head{
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  display: inline;
}

/* videos */
.gallery img{
  transition: 1s;
  width: 100%
  display: inline-block;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

h1{
  font-size: 1vw;
}

/* hover over */

.image__img {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.image {
	position: relative;
	width: 30%;
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity 0.25s;
}

/* at start */
.image__overlay{
      opacity: 0;
}

/* on hover*/
.image__overlay:hover {
	opacity: 1;
}
