
p{
font-family: 'Playfair Display', serif;
size: 1em;
}

.wall{
  background-color: black;
}

#headline{
  text-transform: uppercase;
  font-weight: 800;
}

.hero-text{
  color: white;
  padding-top: 1em;
  text-align: center;
}

.sub-head{
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  display: inline;
}

/* videos */
.gallery img{
  transition: 1s;
  width: 100%
  display: inline-block;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;

}

#background-text{
  margin: 3em 6em 3em 6em;

}


/* hover over */

.image__img {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.image {
    position: relative;
    width: 100%;
    cursor:pointer;
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
  font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity 0.25s;
}

/* at start */
.image__overlay{
      opacity: 0;
}

/* on hover*/
.image__overlay:hover {
	opacity: 1;
}
